.tap-zone {
  height: 150px;
  width: 150px;
  /*background-image: url("https://res.com/sites/default/files/block_icon_fingerprint_red.png");*/
  position: relative;
  z-index: 10;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  background-color: 'gray';
  float: left;
}


.tap-zone {
  background-image: url("http://i.imgur.com/9D5UU99.png");
}

.tap-zone [key=1] {
  background-image: url("http://i.imgur.com/USjeDxe.png");
}

.tap-zone[key='2'] {
  background-image: url("http://i.imgur.com/oiXKjQY.png");
}

.tap-zone[key='3'] {
  background-image: url("http://i.imgur.com/w3rpGob.png");
}

.tap-zone[key='4'] {
  background-image: url("http://i.imgur.com/DmmUoN1.png");
}
/*https://3.bp.blogspot.com/-ETMBQJ_ZSi4/WDD2XcUlGOI/AAAAAAAAAQI/h6qWxDSh8jUtIabADzm-5Q4nhYp_5w8QgCLcB/s1600/Fingerprint.png*/
/*Fingerprints by Ema Dimitrova from the Noun Project*/
.hidden {
    height: 0;
    overflow: hidden;
}

.sound-menu {
  margin: 0;
  padding: 0;
  height: 0;
  width: 50px;
  -webkit-transition: width .5s, height .5s;
  transition: width .5s, height .5s;
  background-color: rgba(200, 10, 10, 0.5);

}

.drop {
  height: 300px;
  width: 200px;
  overflow: scroll;
}

.drop-sounds {
  height: 50px;
  width: 50px;
  border-style: none;
  background-color: 'transparent';
  background-image: url("https://cdn3.iconfinder.com/data/icons/buttons/512/Icon_11-512.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
