.tap-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

}

.tap-zone {
  /*height: 150px;
  width: 110px;*/
  height: 100px;
  width: 100px;
  /*background-image: url("https://res.com/sites/default/files/block_icon_fingerprint_red.png");*/
  position: relative;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 100%;
  float: left;
  z-index: 0;
}


/*https://3.bp.blogspot.com/-ETMBQJ_ZSi4/WDD2XcUlGOI/AAAAAAAAAQI/h6qWxDSh8jUtIabADzm-5Q4nhYp_5w8QgCLcB/s1600/Fingerprint.png*/
/*Fingerprints by Ema Dimitrova from the Noun Project*/
.hidden {
    height: 0;
    overflow: hidden;
}

.sound-menu {
  margin: 0;
  padding: 0;
  height: 0;
  width: 30px;
  -webkit-transition: width .5s, height .5s;
  transition: width .5s, height .5s;
  background-color: #e62739;
  z-index: 10;
  position: relative;
  display: inline-block;
}

.drop {
  height: 300px;
  width: 200px;
  overflow: scroll;
  margin: 0;
  padding: 0;
  bottom: 0;
  right: 0;
}

.drop-sounds {
  height: 30px;
  width: 30px;
  border-style: none;
  position: absolute;
  bottom: -25px;
  right: -25px;
  border-radius: 100%;
  background-color: 'transparent';
  background-image: url("http://image.flaticon.com/icons/png/512/27/27064.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
