.logo {
  height: 60px;
  width: 60px;
}

.logo-box, h1, .login-container, .logout-button{
  display: inline-block;
}

.hide {
  visibility: hidden;
}

 .login-container, .logout-button {
  float: right;
 }
