.header {
  display: flex;
  align-items: center;
}

.logo {
  height: 60px;
  width: 60px;
}

.logo-box, h1, .login-container, .logout-button{
  display: inline-block;
}

.hide {
  visibility: hidden;
}

.logout-button {
  float: right;
}

 .login-container  {
  float: right;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .login-box, .signup-box {
  background: rgba(0, 0, 0, .1);
  padding: 10px;
}

.signup-box, .signup-box input, button {
  display: inline-block;
  margin: 0 10px;
}



.login-box, .login-box input, button {
  display: inline-block;
  margin: 0 10px;
}
