
body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Lato', arial;
  font-size: 20px;
}

.main-wrapper {
  height: 100%;
  width: 100%;
}

.main-content {
background-color: #e1e8f0;
position: relative;
width: 100%;
bottom: 0;
}

.content-wrapper {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  position: relative;
  bottom: 0;
}

.header-content, .header{
  background-color: #bccbde;
  width: 100%;
  height: 75px;
}

.footer-content {
  /*background-color: #bccbde;*/
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: 0;
  text-align: center;

}

.aside-content{
  background-color: #c2dde6;
  width: 300px;
  position: relative;
  right: 0;
  margin: 0;

}

.saved-content {
  background-color: #c2dde6;
  width: 300px;
  position: relative;
  left: 0;
  margin: 0;
  text-align: center;

}

button {
  border-style: none;
  color: #e1e8f0;
  padding: 5px;
  margin: 5px;
  background-color: #431c5d;
}

button:active {
  background-color: #11002B;
}

button:hover {
  background-color: #774F91;
}

h1 {
  font-family: 'Chewy', arial;
}


/*
@font-face {
  font-family: 'Chewy';
  src: url('./fonts/Chewy.otf');
  src: local('Chewy')
}*/

@font-face {
  font-family: 'Lato';
  src: url('./fonts/Lato-Regular.otf');
  src: local('Lato')
}
